@page
@model ContactManager.Pages.Users.DetailsModel
@{
    ViewData["Title"] = "User Details";
    var AllRoles = (List<IdentityRole>)ViewData["roles"]; 

}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.roles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roles)
        </dd>
        <dd class="col-sm-10">

    <form method="post">
        <table>

            <tr>
                <td></td>
                <input type="hidden" name="Id" value="@Html.DisplayFor(model => model.Id)"> 
                <select name="NewRoleType">
                    <option value="">Select a role</option>
                    <option value="ContactManagers">ContactManagers</option>
                    <option value="ContactAdministrators">ContactAdministrators</option>
                </select>
                <td><input type="submit" value="Add to role" asp-page-handler="AddRole" class="btn btn-primary"/></td>
            </tr>
        </table>
        <hr/>
    </form>
        <form method="post">
        <table>

            <tr>
                <td></td>
                <input type="hidden" name="Id" value="@Html.DisplayFor(model => model.Id)"> 
                <td><input type="submit" value="Remove from role" asp-page-handler="RemoveRole" class="btn btn-danger"/></td>
            </tr>
        </table>
        <hr/>
    </form>

        @foreach (var item in AllRoles) {
            <div>@item</div>
        }
        </dd>
    </dl>
</div>
